html {
	margin: 0;
}

body {
	margin: 0;
}

h1 {
	margin: 0;
}

.hero {
	background-color: rgb(153, 217, 234);
	height: 200px;
}

.left_margin {
	width: 350px;
}

.container {
	display: flex;
}

.title {
	font-family: "Courier New", sans-serif;
	width: 350px;
	background-color: rgba(153, 217, 234, .4);
	text-align: center;
}

.section {
	width: 350px;
	padding: 20px;
}

.vertical-align {
	margin-top: 80px;
}

.color {
	display: flex;
	padding: 20px;
}

.box {
	height: 100px;
	width: 100px;
}

/* 
	kolor ze strony: 
	https://material.io/resources/color 
*/

.red-light {
	background-color: #ff7961;
}
.red {
	background-color: #f44336;
}
.red-dark {
	background-color: #ba000d;
}

.menu > ul {
	list-style: none;
	display: flex;
}

.menu > ul > li {
	padding: 10px 20px;
	background-color: rgb(73, 162, 218);
	color: #fff;
	font-weight: 600;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
}

.menu > ul > li:hover {
	background-color: #fff;
	color: #000;
}
